@page "/"

<PageTitle>StudentSeacher</PageTitle>

<i><h1>StudentSearcher</h1></i>

<table>
    <thead>
    </thead>
    <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Key:</td>
                <td style="padding-left: 20px">@item.Value</td>
            </tr>
        }
    </tbody>
</table>

@code 
{
    Dictionary<string, string> items = new()
    {
        {"Created By", "Michael Angelo Catapang"},
        {"Started By", "August 11, 2022"},
        {"Submission Date", "Pending"}
    };
}