@page "/"

<PageTitle>StudentSeacher</PageTitle>
<link href="/css/custom.css" rel="stylesheet" />

<Header></Header>


<ul>
    @foreach (var item in items)
    {
        <li>
            <b>@item.Key:</b> @item.Value
        </li>
    }
</ul>


@code 
{
    Dictionary<string, string> items = new()
    {
        {"Created By", "Michael Angelo Catapang"},
        {"Started By", "August 11, 2022"},
        {"Submission Date", "Pending"}
    };
}